
.section-header {
  text-align: center;
}

.skills {
  margin-top: 30px;
  padding-left: 2rem;
}

.skills h2 {
  color: #fff;
  text-align: center;
}

.skills ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.skills li {
  display: inline-block;
  margin-right: 10px;
  background-color: #444;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  color: #fff;
}



body {
  overflow-x: hidden;
}
.custom-padding {
  padding: 4rem;
}


